.orders-container {
    padding: 20px 40px;
    color: #ddd;
}

/* HEADER */
.orders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.company-link {
    color: #a97bff;
    cursor: pointer;
    text-decoration: underline;
}

.company-link:hover {
    color: #c7a7ff;
}

/* NEW ORDER BUTTON */
.new-order-btn {
    background: #8c5eff;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.new-order-btn:hover {
    background: #a982ff;
}

/* 3 карточки в ряд */
.orders-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

/* CARD */
.order-card {
    background: #2a2a2a;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.order-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(140, 94, 255, 0.25);
}

.order-info p {
    margin: 4px 0;
}

/* STATUS */
.status {
    display: inline-block;
    margin-top: 12px;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 13px;
}

.status.created { background: rgba(255,255,255,0.1); }
.status.sent { background: rgba(255,215,0,0.15); }
.status.received { background: rgba(0,255,0,0.15); }
.status.cancelled { background: rgba(255,0,0,0.15); }

/* DETAILS BUTTON */
.details-btn {
    margin-top: 12px;
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #8c5eff;
    color: white;
    transition: 0.2s ease;
}

.details-btn:hover {
    background: #a982ff;
}

/* EMPTY BLOCK */
.empty-block {
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    color: #bbb;
}

.large-btn {
    margin-top: 20px;
    padding: 12px 22px;
}

/* MODAL */
.order-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #2b2b2b;
    padding: 30px;
    border-radius: 16px;
    min-width: 350px;
}

.close-btn {
    margin-top: 20px;
    background: #444;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.close-btn:hover{
    background: linear-gradient(135deg, #ff8080, #ff4444);

}